#Directory{
    position:absolute;
    overflow: hidden;
    width: 22.5vw;
    height: 39.3vh;
    right:44.45vw;
    top:2px;
    overflow: scroll;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.Directory-Card{
    height: 20%;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    border-bottom:1px;
    border-color: black;
    border-style:solid;
}
.Directory-Card:hover{
    background-color: lightgrey;
}