#left-column{
  display: flex;
  flex-direction: column;
  width: 32.5vw;
  height: 100%;
  flex:1;
}

#code-input{
  margin:0px;
  padding-top: 0px;
  padding-left: 0px;
  border:5px;
  border-color:black;
  border-style:solid;
  height:89vh;
  resize: none;
  font-size: large;
}

#submit-button{
  height:8vh;
  margin:0px;
  padding:0px;
}